* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 96px;
  background: #dadada;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 96px;
  background: #9c9c9c;
}
